body, html {
    padding: 0;
    margin: 0;
    background-color: #4B4A52;
    color: #D4D4D4;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button,
label {
    cursor: pointer;
}

.header {
    height: 68px;
    background: #28282A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 68px;
    position: relative;
}

.table {
    width: 100%;
    padding-bottom: 53px;
    border-collapse: collapse;
}

.table__headings,
.table__tasks {
    display: flex;
    z-index: 2;
}

.table__headings {
    position: fixed;
    width: 100%;
    background-color: #4B4A52;
}

.table__heading {
    padding: 20px 5px;
    font-weight: 700;
    width: 14.2857142857%;
    height: 64px;
    text-align: center;
    border-right: 1px solid #28282A;
    border-bottom: 1px solid #28282A;
}

.table__heading--today {
    background: #E7CFB5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #45484F;
}

.table__tasks {
    border-top: 1px solid #28282A;
    padding-top: 64px;
}

.table__date-tasks {
    width: 14.2857142857%;
    padding-top: 22px;
    padding-right: 5px;
    vertical-align: top;
    border-right: 1px solid #28282A;
    
}

.task {
    width: 100%;
    min-height: 110px;
    background: #302F34;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 13px;
}

.task__heading-wrapper,
.task__footer {
    padding: 7px 12px;
    background: #28282A;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.task__footer {
    justify-content: center;
    font-weight: 400;
    line-height: 24px;
    color: #D4D4D4;
    border: 0;
}

.task-name {
    background-color: transparent;
    color: #D4D4D4;
    border: 0;
    border-bottom: 1px solid #D4D4D4;
}


.task__heading {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}

.task__data {
    padding: 5px 12px;
}

.task__info {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.task__data-text {
    margin: 0;
}

.task-time {
    padding: 0;
    border: 0;
    color: #D4D4D4;
    background: transparent;
}

.controllers {
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #252527;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #4B4A52;
}

.controllers__week {
    display: flex;
}

.controllers__week-btn {
    width: 53px;
    height: 53px;
    background: #28282A;
    padding: 8px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controllers__week-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0;
}

.controllers__balance-wrapper {
    width: 719px;
    height: 37px;
    padding: 6px 10px;
}

.controllers__balance {
    background: linear-gradient(270deg, #2C281F 0%, #E7CFB5 100%);
    height: 100%;
    position: relative;
}

.controllers__balance::before {
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 35%;
    background: #534D48;
}