<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
</head>


<body style="margin: 0%" data-new-gr-c-s-check-loaded="14.1038.0" data-gr-ext-installed="">
<form action="/register" method="post" enctype="multipart/form-data">
    <div class="main_background">
        <div class="registration_part">
            <span class="welcome_title">Welcome!</span>
            <div class="registration_data_part">
                <div class="name">
                    <input type="text" class="name_input" name="name">
                    <span class="name_title">Name</span>
                </div>
                <div class="surname">
                    <input type="text" class="surname_input" name="surname">
                    <span class="surname_title">Surname</span>
                </div>
                <div class="email">
                    <input type="text" class="email_input" name="email">
                    <span class="email_title">Email</span>
                </div>
                <div class="password">
                    <input type="password" class="pass_input" name="password">
                    <span class="pass_title">Password</span>
                </div>
            </div>

            <div class="registration_submit">
                <input type="submit" class="registration_button" value="Sign up">
                <div class="to_login_page">
                    <a href="/login" class="log_in_button">
                        <span class="acc_title">Already have an account? Log in</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>